.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

main {
  background-color: #b6c6ce;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 32px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#scheduler  {
  height: 600px;
}

/* Timer */
.timer  {
  text-align: 'center';
}

.timerVariables {
  font-size: 100px;
}

.timerNumbers {
/*

*/
}

/* CSS for Popup */

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  
  display: flex;
  justify-content: center;
  align-items: center;
}

.popupInside  {
  position: relative;
  padding: 32px;
  width: 100%;
  max-width: 640px;
  background-color: rgb(177, 204, 216);
  box-shadow: 10px 10px 50px -15px rgb(160, 158, 158);
  
  border-radius: 25px;
  border-style: solid;
  border-width: 1px;
  border-color: grey;
}

.popupInside .closeButton {
  position: absolute;
  top: 15px;
  right: 15px;
  border-radius: 5px;
}